*{
    margin: 0;
    padding: 0;
}
#box{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    position: relative;
}
img{
    width: 800px;
    height: 400px;
    opacity: 0;
    position: absolute;
}
.show{
    opacity: 1;
}